[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment Trainer1.png [Image] 4.2 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=2d00b86d94&view=att&th=158b33d8e3cc2921&attid=0.1&disp=safe&realattid=f_iw4d4bha0&zw
Icon=text-html
